trigger:
  - master

pool:
  vmImage: ubuntu-latest

variables:
  - group: AIcommerce_group

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '22.x'

  - script: |
      echo "VITE_API_BASE_URL=$(VITE_API_BASE_URL)" > .env.production

  - script: |
      rm -rf staticwebapp.config.json
      rm -rf public/staticwebapp.config.json
      rm -rf dist/staticwebapp.config.json
    displayName: 'Remove any static web app config'

  - script: |
      npm ci
      npm run build
    displayName: 'Install and Build'

  - task: AzureStaticWebApp@0
    inputs:
      app_location: '/'
      output_location: 'dist'
      skip_app_build: true
      config_file_location: ''
      azure_static_web_apps_api_token: $(AZURE_STATIC_WEB_APPS_API_TOKEN)
